.main{
  height:640px;
  width: 100%;
  background-color: white;
}
header{
  height:6%;
  width:100%;
}
.nav_size{
  height:95px;
  background-color: white;
}
.navbar-left  li:hover{
  background-color: #CBFFD3;
}
.navbar-right li:hover
{
  background-color: #CBFFD3;
}
.icon{
  margin-left:23px;
  margin-top: 20px;
  font-size: 18px;
}
.icons{
  margin-left:25px;
  margin-top: 20px;
  font-size: 18px;
}
.loginbar{
  height:30px ;
  width:340px;
  margin-left: 20px;
  background-color: #FF8C00;
  color: white;
}
.loginfont{
  padding-top: 5px;
}
.box{
  height:30px ;
  width:340px;
  margin-left: 20px;
}
.facebook{
  height:30px ;
  width:340px;
  margin-left: 20px;
  background-color: #00008B	;
}
.login-tag{
  margin-left: 20px;
}
.submit{
  height:30px ;
  width:340px;
  margin-left: 20px;
  margin-top:25px;
  background-color: #228B22;
  color: white;
}
.modal-main{
height:600px; width:400px;margin-left:400px;margin-top:150px;
border-radius: 4px;
}
.or{
margin-left: 180px;
}
.close-btn{
float: right;
margin-left:400px;
}
.member{
margin-left: 160px;
}
.account{
margin-left: 110px;
}
.newaccount{
  height:30px ;
  width:340px;
  margin-left: 20px;
  background-color: #FFA500;
  color: white;
  padding-top: 1px;
}
.password-tag{
  margin-left: 10px;
}
.box-tag{
  margin-left: 50px;
}
.dob-tag{
  margin-left:145px ;
}
.female{
  margin-left: 25px;
  float: left;
}

.main-wrapper{
height: 15%;
width:100%;
}
.menubar{
  height:45px;
  width:100%;
  padding-top: 18px;
}
.menuber_li{
  margin-left: 25px;
  display:block;
  font-size: 12px;
  list-style-type: none;
}
#all_li:hover{
  background: #CCFFCC;
  height:22px;
}
#food_li:hover{
  background: #CCFFCC;
  height:22px;
}
#cloths_li:hover{
  background: #CCFFCC;
  height:22px;
}
#accesories_li:hover{
  background: #FFFFCC;
  height:22px;
}
#sundries_li:hover{
  background: #FFDDFF;
  height:22px;
}
#other_li:hover{
  background: #FFDDFF;
  height:22px;
  width: 40px;
}
.image-wrapper{
  height: 70%;
  width:100%;
}

/*#hoverdiv
{
  width: 100%;
  height: 100%;
  background: red;
  position: absolute;
}*/
.footer{
  text-align: center;
  margin-top: 17px;
}
footer{
  height:45px;
  width:100%;
  float:left;
  background-color: #DCDCDC;
}
